#preview #prev:hover,
#preview #next:hover
{
    background-color: #383838;
}
#preview #prev,
#preview #next
{
    width: 65px;
    height: 65px;
    background-color: burlywood;

    display: flex;
    align-items: center;
    justify-content: center;
    border: black 2px solid;

    padding: 10px 20px;
    font-size: 3rem;
    color: black;
    background-color: #5c5c5c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}
#preview-img {
    border: 2px solid #000;
    width: 400px;
    height: 560px;
    border-radius: 1.5rem;
}
#preview-content {
    display: flex;
    align-items: flex-start;
}
#preview-img.rotate {
    rotate: 90deg;
    transform-origin: center center;
    margin-right: 80px; /* ( 560 - 400 ) * .5 */
}
#preview-card-id {
    background-color: darkslategrey;
    border: 2px solid #000;
    border-left: none;
    color: white;
    font-family: monospace;
    /* font-weight: bold; */
    margin-top: 8rem;
    width: 6rem;
    word-break: break-all;
}
#preview-card-id hr {
    border: none;
    border-bottom: 2px black solid;
}
.preview-key {
    color: gray
}


#preview {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    /* background-color: #fff; */
    z-index: 1000;
    /* display: flex; */
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    /* pointer-events: none; */
    left: 0;
    top: 0;

    justify-content: space-between;

    user-select: none;
}

#copy-card-name:hover i.fa,
#copy-card-id:hover i.fa {
    color: black;
}

#copy-card-name:hover,
#copy-card-id:hover {
    cursor: pointer;
}

