* {
    --card--width: 150px;
    --card--height: 210px;
    --card--width: 100px;
    --card--height: 140px;
    
    --card--width: 75px;
    --card--height: 105px;

    --border-width: 2px;
    
    box-sizing: border-box;
    /* user-select: none; */
    margin: 0;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    padding: .5rem;
    font-family: monospace;
    background-color: rgb(43, 43, 43);
    color: rgb(198, 198, 198);
}

input[type="button"] {
    width: fit-content;
    min-width: 6em;
    padding: 2px;
    background-color: lightgray;
}

#set-images {
    display: flex;
    flex-wrap: wrap;
}

#set-images div.disable {
    filter: grayscale(1) brightness(.4);
    /* display: none; */
}

#set-images div {
    width: calc(var(--card--height) + 10px);
    height: calc(var(--card--height) + 10px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    border: black 2px solid;
    margin: 2px;
    border-radius: .25em;
    background-color: #000;
}

#set-images div img {
    outline: none
}
#set-images div::before {
    content: attr(data-title);
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, .5);
}
#set-images div::after {
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: darkgoldenrod;
}

#set-images div.full::after {
    background-color: darkgreen;
}

#set-content .details {
    display: flex;
    flex-wrap: wrap;
}

#set-images div:hover,
#set-content button:hover,
#modular-sets button:hover,
#encounter-sets button:hover {
    filter: drop-shadow(1px 2px 3px white);
}

#set-images div,
#set-content button,
#modular-sets button,
#encounter-sets button {
    filter: drop-shadow(2px 4px 6px black);
}

#set-images div:hover img,
#set-content button:hover img,
#modular-sets button:hover img,
#encounter-sets button:hover img {
    /* outline-color: white; */
    /* outline-style: solid; */
}

#set-images .click img,
#set-content .click img,
#modular-sets .click img,
#encounter-sets .click img {
    outline-color: red;
    outline-style: solid;
    filter: drop-shadow(1px 2px 3px red);
}

#modular-sets .lock.click img {
    outline-color: orange;
    filter: drop-shadow(1px 2px 3px orangered);
}

#set-content button {
    position: relative;
    margin: 2px;
    padding: 0;
    display: inline-flex;
    border-radius: .25em;
}

#set-images div.click:hover img,
#set-content button.click:hover img,
#modular-sets button.click:hover img,
#encounter-sets button.click:hover img {
    border: 1px black solid;
}

img[id^="img-heroes"],
#set-images img,
#set-content img,
#modular-sets img,
#encounter-sets img {
    width: var(--card--width);
    height: var(--card--height);
    border-radius: .25em;

    outline-style: outset;
    outline-width: var(--border-width);
    outline-color: rgb(176, 176, 176);

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#set-images img {
    width: unset;
}

.image-div,
#modular-sets > button > img,
#encounter-sets > button > img,
#set-content > div.details > button > img,
#set-images > div:has(>.details) {
    cursor: pointer;
}

#set-content button::after,
#modular-sets button::after,
#encounter-sets button::after{
    content: attr(data-text);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 115%;
    position: absolute;
    right: 6px;
    bottom: 8px;
    /* left: 2px; */

    height: fit-content;
    overflow: visible;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    line-break: anywhere;
}

#modular-sets button:hover::before {
    display: none;
}
#modular-sets button::before {
    content: attr(data-display);
    font-weight: bold;
    font-size: 1rem;
    line-height: 115%;
    position: absolute;
    left: 2px;
    top: 2px;
    /* left: 2px; */

    height: fit-content;
    overflow: visible;

    /* display: flex; */
    /* flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end; */

    color:darkgoldenrod;
    line-break: anywhere;
    z-index: 1;

    word-spacing: 100px;
}

#set-content div button.click::after,
#modular-sets button.click::after,
#encounter-sets button.click::after{
    color: red;
}

#modular-sets button.lock.click::after {
    color: orange;
}

#set-content div button::after,
#modular-sets button::after,
#encounter-sets button::after{
    color:gray;
    /* filter: grayscale(1); */
}

#set-content div button:hover::after,
#modular-sets button:hover::after,
#encounter-sets button:hover::after{
    content: "";
    /* filter: grayscale(1); */
}

.text-border,
#set-content button,
#modular-sets button,
#encounter-sets button,
label::after,
input[type="file"] {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;
}




input[type=""]:read-only,
textarea:read-only {
    background-color: gray;
}
input[type="file"] {
    background-color: gray;
    /* display: none; */
}

/* img {
    cursor: pointer;
} */


/******************************************************************************/

.image-div img:hover {
    outline-color: white;
    outline-style: solid;
    outline-width: 2px;
}

.image-div:hover {
    filter: drop-shadow(1px 2px 3px white);
}

.image-div {
    filter: drop-shadow(2px 4px 6px black);
}

.image-div img {
    width: 75px; height: 105px;
    border-radius: .5em;
    border: 1px solid black;

    /* outline-style: outset; */
    /* outline-width: 3px; */
    /* outline-color: rgb(176, 176, 176); */
}
.image-div {
    position: relative;
    display: inline-block;
    /* border: 1px slategray solid; */
    border-radius: 1em;
    width: 75px; height: 105px;
    /* margin: .1em; */
}

.image-div img {
    width: 75px; height: 105px;
    border-radius: .5em;
    border: 1px solid black;

    /* outline-style: outset; */
    /* outline-width: 3px; */
    /* outline-color: rgb(176, 176, 176); */
}
.image-div {
    position: relative;
    display: inline-block;
    /* border: 1px slategray solid; */
    border-radius: 1em;
    width: 75px; height: 105px;
    margin: .1em;
}
.image-div::after {
    content: attr(data-card-id);
    display: flex;
    position: absolute;
    left: .2em;
    right: .2em;
    bottom: .2em;
    color: black;
    background: rgba(49, 131, 49, 0.8);
    font-weight: bold;
    border-radius: 4px;
    align-items: flex-end;
    justify-content: center;
    font-family: monospace;
    font-weight: normal;
    overflow: hidden;
}

.drop-zone {
    padding: 5px;
    text-align: center;
    position: relative;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    /* min-height: 132px; */
    min-height: 4rem;
}

.drop-zone::before {
    content: "Drop";
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    opacity: .5;
    background-color: #262626;
    border: 2px dashed #616161;
    border-radius: .5rem;
}

button:hover{
    cursor: pointer;
}

