#achievement-bar {
    color: red;
    transition: var(--anime-move-time) linear opacity;
    position: absolute;
    left: 20%;
    right: 20%;
    top: calc(.5 * var(--card-height));
    /* background-color: blue; */
    width: fit-content;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    font-size: calc(2.5 * var(--font-size));
    text-align: center;
    word-break: normal;
    z-index: var(--z-index-achievement);

    pointer-events: none;

    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);

    --text-shadow-color: black;
    text-shadow: 2px 0 var(--text-shadow-color), -2px 0 var(--text-shadow-color), 0 2px var(--text-shadow-color), 0 -2px var(--text-shadow-color), 1px 1px var(--text-shadow-color), -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color), -1px 1px var(--text-shadow-color);;
}

#achievement-bar.remove {
    opacity: 0;
}

#achievement-bar.enter {
    opacity: 1;
}

