/* https://codepen.io/jason-chen/pen/DmGZJO */
.animation-shock{
    animation-name: diagonal-slide;
    animation-duration: 0.05s;
    animation-iteration-count: 10;
    animation-fill-mode: forwards;
}

@keyframes diagonal-slide {
    from { top: 0; left: 0; animation-timing-function: linear; }
    20% { top: -5px; left: -5px; animation-timing-function: linear; }
    40% { top: 5px; left: -5px; animation-timing-function: linear; }
    60% { top: 5px; left: 5px; animation-timing-function: linear; }
    80% { top: -5px; left: 5px; animation-timing-function: linear; }
    to { top: 0; left: 0; animation-timing-function: linear; }
}

