.area:hover {
    z-index: var(--z-index-area-hover);
}

.area {
    position: absolute;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(.1px, calc(1.15 * var(--card-width))));
    grid-template-columns: repeat(var(--total-cards), minmax(.1px, max-content));
    grid-template-rows: var(--card-height);
    justify-content: center;
    justify-items: center;
    width: fit-content;
    max-width: var(--center-area-width);
    min-height: var(--card-height);
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: calc(var(--anime-time));
}

#area-schemes-main .card.bind-card .face,
#area-schemes-side .card.bind-card .face {
    --rotate-times: 0;
}

