.button {
    border: 1px solid white;
    border-radius: calc(.15 * var(--font-size));
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: calc(1.5 * var(--font-size));
    margin: calc(.5 * var(--font-size));
    padding: 0 calc(.5 * var(--font-size));

    white-space: nowrap;

    overflow: hidden;
    text-overflow: clip;
    text-overflow: ellipsis;
    z-index: var(--z-index-btn-button);
    font-size: calc(2 * var(--font-size));
    cursor: pointer;

    user-select: none;
    opacity: var(--button-opacity);
}

.button:hover {
    opacity: 1;
}

.button:disabled,
.button:hover:disabled {
    background-color: white !important;
    color: gray !important;
    pointer-events: none;
}

.button:active {
    transform: scale(.96);
}

.button {
    --color: #333;
    background-color: var(--color);
    /* outline: 3px var(--color) solid; */
}

.button {
    --color2: rgb(191, 191, 191);
    color: var(--color2);
    color: white;
    font-weight: 700;
    font-size: var(--font-size);
    transition: var(--anime-time);
}

.button:hover {
    background-color: var(--color2);
}

.button:hover {
    color: var(--color);
}

.button.debug-only {
    color: green;
}

.button.clicked {
    --color: #111 !important;
}

.sort-card-btn {
    width: calc(6.5 * var(--font-size));
}
