#canvas {
    /* transform-style: preserve-3d; */
    /* perspective: 4000px; */

    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Allow mouse events to pass through */
    /* transform: translateZ(2000px); */
    /* z-index: 999; */
}
