
.card .face .info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--z-index-card-info);
    display: none;
    /* overflow: hidden; */

    line-height: .9;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    /* flex-direction: column; */

    overflow: hidden;
    transition: none;
    /* height: fit-content !important; */
    transform-origin: center;
    height: 100%;
    width: 100%;

    padding-left: calc(.15 * var(--font-size));
}

.card:hover .face .info {
    height: fit-content;
    min-height: 100%;
    overflow: visible;
}

.card .face .info {
    /* background: blue; */
    pointer-events: none;
}


