.area .card.type-status-card:not(.moving) .face{
    min-width: calc(var(--card-width) * .5);
    width: calc(var(--card-width) * .5);
    max-width: calc(var(--card-width) * .5);
}

.area .card.type-status-card:not(.moving) .face {
    overflow: visible;
}

.area .card.type-status-card:not(.moving).gain-status .face {
    animation: gain-status-card-animation .4s linear;
}

@keyframes gain-status-card-animation {
    0% {
        min-width: calc(var(--card-width) * 1);
        max-width: calc(var(--card-width) * 1);
    }
    100% {
        min-width: calc(var(--card-width) * .5);
        width: calc(var(--card-width) * .5);
        max-width: calc(var(--card-width) * .5);
    }
}

.area .card.type-status-card:hover .face {
    overflow: visible;
    min-width: calc(var(--card-width) * 1);
    max-width: calc(var(--card-width) * 1);
    min-height: calc(var(--card-height) * 1);
    max-height: calc(var(--card-height) * 1);
}

.area .card.type-status-card:not(.moving) {
    min-width: calc(var(--card-width) * .5);
    max-width: calc(var(--card-width) * .5);
}

