/******************************************************************************
* Hand card
*/
#player-all-hand-cards {
    bottom: calc(-.25 * var(--card-height));
    position: absolute;

    --pre-deg: 8deg;
    --card-margin: .5vw;
    --total-deg: 0deg;
    --margin-bottom: 0;
    transition: calc(var(--anime-time) * 1.5) cubic-bezier(0.19, 1, 0.22, 1) bottom;
}

#player-all-hand-cards:hover .card{
    --top: 905px !important;
    transition: none;
}

#player-all-hand-cards .card .face .image,
#player-all-hand-cards .card .face .image::after,
#player-all-hand-cards .card .face{
    transform-origin: 50% 100%;
}
#player-all-hand-cards .card.selected:hover .face,
#player-all-hand-cards .card:hover .face{
    rotate: 0;
}

#player-all-hand-cards .card .face{
    rotate: calc(var(--left-deg) + var(--total-deg) / max((var(--total-cards) - 1), 1) * var(--index));
}

#player-all-hand-cards .card:hover {
    transition: none;
}

/******************************************************************************/
#player-all-hand-cards .card .face .info::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#player-all-hand-cards .card .face .info_pay,
#player-all-hand-cards .card .face .info::after {
    transform-origin: 50% 100%;
}

