.image-preview.ultra-rare,
.image-preview.super-rare {
    --bg-image-true: var(--bg-image)
}

/* super-rare */
#player-all-hand-cards .card .face.super-rare .image::before,
.card:not(.facedown) .face.super-rare .image::before,
.image-preview.super-rare {
    background-image: var(--bg-image-true),
        linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    filter: brightness(1) contrast(1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* background-blend-mode: overlay; */
    mix-blend-mode: color-dodge;
    background-blend-mode: lighten;
}

.image-preview {
    transition: none !important;
}

/* ultra-rare */
#player-all-hand-cards .card .face.ultra-rare .image::before,
.card:not(.facedown) .face.ultra-rare .image::before,
.image-preview.ultra-rare {
    background-image: url("sparkles.gif"), var(--bg-image-true);
    background-blend-mode: color-dodge;
}

/* We show this in tilt */
.image-preview.super-rare.hide-glare,
.card:hover .face.super-rare .image::before 
{
    background-image: var(--bg-image-true);
}

