
/******************************************************************************/
/* info */
.card .amplify {
    color: #bd293c;
}
.card .escalation_threat.change-value,
.card .escalation_threat,
.card .escalation_threat.change-value,
.card .escalation_threat,
.card .acceleration_icon.change-value,
.card .acceleration_icon,
.card .acceleration_icon.change-value,
.card .acceleration_icon,
.card .acceleration.token {
    color: #912020;
    text-transform: capitalize;
}

.card .acceleration.change-value {
    color: darkorange;
}

.card .accelerate.token.change-value,
.card .accelerate.token,
.card .acceleration_token.change-value,
.card .acceleration_token.token {
    color: #914220;
    text-transform: capitalize;
}

span.crisis,
span.hazard {
    color: dimgray;
    max-width: calc(var(--card-width));
    width: 100%;
    text-transform: capitalize;
}

.card .victory {
    color: darkgoldenrod;
}

/* .card .villainous, */
.card .attack,
.card .retaliate,
.card .retaliate,
.card .scheme,
.card .thwart,
.card .defense,
.card .recover,
.card .hand_size {
    font-weight: bolder;
    letter-spacing: 1px;
}

.card:not(:hover) .info .hover-only {
    display: none;
}

.card:hover .info div:has(.hide-value),
.card:hover .info div:has(.thwart),
.card:hover .info div:has(.scheme),
.card:hover .info div:has(.attack),
.card:hover .info div:has(.defense),
.card:hover .info div:has(.retaliate),
.card:hover .info div:has(.recover)
{
    display: none;
}


body.hold-alt .card .face .info span.icon,
body.hold-alt .card .face .info div:not(:has(.trait)):not(.name) {
    display: none;
}

.target_maxhp {
    --color: rgb(1, 48, 1);
}
.target_hp {
    --color: green;
}

.target_atk,
.card .attack {
    color: #cf4546;
    --color: #cf4546;
}
.target_retaliate,
.card .retaliate,
.card .retaliate {
    color: #ff9898;
    --color: #ff9898;
}
.target_sch,
.target_thw,
.card .scheme,
.card .thwart {
    color: #3586b5;
    --color: #3586b5;
    font-weight: bold;
}
.target_def,
.card .defense {
    color: #7ab566;
    --color: #7ab566;
    font-weight: bold;
}
.target_rec,
.card .recover {
    color: #d5c818;
    --color: #d5c818;
    font-weight: bold;
}
.card .threat {
    color: #d5c818;
}

/* .card .villainous {
    color: #d59c18;
} */

.card .change-value.stunned {
    color: #e28c1d;
}
.card .change-value.tough {
    color: #c4a951;
}
.card .change-value.confused {
    color: #5b325e;
}

.card .counter {
    color: #35adb5;
}

.card .k_threat.token {
    color: yellow;
}

.card .form {
    color: orange;
    text-transform: capitalize;
}

/* .card .stage {
    color: #2d3839;
}
.card div:has(>span.completed),
.card div:has(>span.stage) {
    color: #2d3839;
    display: none;
} */

/* boost surge */
.card .face .info .debug-only {
    background-color: darkgreen;
    font-weight: lighter;
}

.card .face .info .consequential_icon {
    font-size: calc(.7 * var(--font-size));
}

.card .change-value {
    outline: none;
    background: none;
}

.card:hover .face .info div {
    text-overflow: unset;
    overflow: visible;
}

.card .face .info div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0;
    margin: 1px;
}

.card .face .info div.name {
    font-size: 0;
    height: 1rem;
    width: 100%;
}

.card:not(.facedown).type-encounter-side-scheme .info div.name,
.card:not(.facedown).type-main-scheme .info div.name,
.card:not(.facedown).type-player-side-scheme .info div.name {
    height: .25rem;
}

.card:not(.facedown).type-encounter-side-scheme .info,
.card:not(.facedown).type-main-scheme .info,
.card:not(.facedown).type-player-side-scheme .info {
    padding-left: 3rem;
}

.card span.trait {
    text-shadow: 1px 1px var(--text-shadow-color),
        -1px -1px var(--text-shadow-color),
        1px -1px var(--text-shadow-color),
        -1px 1px var(--text-shadow-color);
}

.card .hand_size {
    color: #7f7f7f;
}

.card:hover .face .info .health {
    display: none;
}

.card .face .info:has(.infinite_health) .health {
    display: none;
}

.card .face .info .infinite_health,
.card .face .info:not(:has(> .infinite_health)) .health {
    content: attr(data-health);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: italic;

    position: absolute;
    right: calc(var(--card-width) * .05);
    top: calc(var(--card-height) * .5 - .5rem);
    font-size: calc(1.5 * var(--font-size));

    width: calc(1.5 * var(--font-size));
    height: calc(1.5 * var(--font-size));

    display: flex;
    justify-content: center;
    align-items: center;

    border:rgb(28, 28, 28) calc(.1 * var(--font-size)) solid;
    background: radial-gradient(rgb(174, 121, 14), #df0c21);
    border-radius: 50%;
    overflow: visible;
}

.card .face .info:has(> .guard) .health {
    background: radial-gradient(white, silver);
    border-radius: 0 0 50% 50%;
}

/* .card .face .info:has(> .guard) .health::before {
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f132";
    font-size: calc(1.8 * var(--font-size));
    color: silver;
    z-index: -1;
} */

.card .face .info .infinite_health {
    font-family: 'marvel-icons' !important;
    font-style: normal;
    background: radial-gradient(skyblue, blue) !important;
    align-items: baseline;
}

.card .face .info {
    scale: 1 !important;
}

span.hide-value {
    color: dimgray;
    max-width: calc(var(--card-width));
    width: 100%;
    text-transform: capitalize;
    --text-shadow-color: black;

    text-shadow: 2px 0 var(--text-shadow-color), -2px 0 var(--text-shadow-color), 0 2px var(--text-shadow-color), 0 -2px var(--text-shadow-color), 1px 1px var(--text-shadow-color), -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color), -1px 1px var(--text-shadow-color);;
}

div:has(> span.buff) {
    max-width: var(--card-width);
    min-width: var(--card-width);
}

span.buff {
    display: block;
    font-weight: lighter;
    width: fit-content;
    color: white;
    outline: none;
    font-size: 80%;
    background-color: burlywood;
}

span.trait {
    color: bisque;
    display: block;
    max-width: var(--card-width);
    min-width: var(--card-width);
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    color: black;
    outline: none;
    --text-shadow-color: bisque;
    letter-spacing: -1px;
}

.card > .face > .info > .guard {
    display: none;
}

/* .card:hover > .face > .info > .guard {
    display: none;
}

.card > .face > .info > .guard {
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 3rem;
    padding: .5rem;
    color: silver;
} */

.card {
    --show-control-by: 0;
}

/* .card:hover .face .info .control_player {
    display: none;
} */

.card > .face > .info > .control_player {
    position: absolute;
    left: 0;
    top: 0;

    font-size: 1.5rem;
    padding: 0.1rem;
    color: var(--color);
    opacity: var(--show-control-by);
}

.card > .face > .info > .k_first_player_token {
    position: absolute;
    left: 0;
    top: 0;

    font-size: 1rem;
    padding: 0.1rem;
    color: #f93232;

    z-index: 999;
}

