
.card .face .image::before {
    background-blend-mode: initial;
    background: var(--bg-image-true) no-repeat,
        /* content-box radial-gradient(#f5deb3, #deb887); */
        content-box radial-gradient(circle, rgb(228, 205, 162) 0%, rgba(168,143,110,1) 100%);
    /* background-size: cover; */
    background-size: 100% 100%;
    width: var(--card-width);
    height: var(--card-height);
}

.card.type-status-card .face .image::before {
    width: 100%;
    height: 100%;
}

#player-all-area-hero .card.type-hero:has(.info .archangel) .face .image::before,
.area-schemes .card:not(.facedown).type-player-side-scheme .face .image::before,
.area-schemes .card:not(.facedown).type-main-scheme .face .image::before,
.area-schemes .card:not(.facedown).type-encounter-side-scheme .face .image::before {
    left: 50%; /* Center the rotated element */
    top: 50%; /* Center the rotated element */
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(90deg); /* Center and rotate */
}

.area-schemes .card:not(.facedown).type-player-side-scheme,
.area-schemes .card:not(.facedown).type-main-scheme,
.area-schemes .card:not(.facedown).type-encounter-side-scheme {
    width: var(--card-height);
    min-width: var(--card-height);
    height: var(--card-width);
}

.card .face .image {
    outline-style: outset;
    outline-width: 2px;
    outline-color: rgb(176, 176, 176);
}

/*******************************************************************************/
.card:not(.facedown.peeking) .face .image::after
.card:not(.facedown) .face .image::after {
    background: none;
}
.card.facedown:not(.peeking) .face .image::after {
    background: var(--bg-image-false) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

body.is-debug .deck.clicked .card.facedown .face .image::after,
body.game-over .card.facedown .face .image::after,
.card.facedown.being-searching:not(.peeking) .face .image::after,
.deck .card.facedown.peeking .face .image::after,
.area:not(#player-all-hand-cards) .card.peeking .face .image::after,
body.show-all-cards .card.facedown .face .image::after {
    background: var(--bg-image-false) no-repeat;
    /* background: none !important; */
    background-size: cover;
    background-position: 50% 50%;
    /* clip-path: ellipse(90% 95% at left top); */
    -webkit-mask-image: url(mask.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position-y: bottom;
}

body.is-debug .deck.clicked .card.facedown:not(.peeking):not(.being-searching) .face .image::after {
    background-position: 50% 50%;
    /* https://cssgradient.io/ */
    -webkit-mask-image: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(63,94,251,0.5) 73%, rgba(63,94,251,1) 90%);
}

.area:not(#player-all-hand-cards) .card.peeking .face .image::before {
    background: var(--bg-image-true) no-repeat;
    background-size: cover;
}

