/* card shadow */
.deck .card .face {
    box-shadow: 1px 4px 9px rgb(0 0 0 / 33%);
}

/* .card .face {
    --shadow-color: hsl(220deg 60% 50%);
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
} */

.area .card .face {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.area .card:hover .face {
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

/*******************************************************************************/
.card .face .equip {
    position: absolute;
    pointer-events: none;
    /* background: red; */
    transform-origin: center;
    width: 100%;
    height: 100%;
}

/*******************************************************************************/
.card .face {
    will-change: rotate;
}

.card .face {
    transition: box-shadow var(--anime-move-time) linear,
                rotate var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .face {
    /* hover on top always */
    z-index: var(--z-index-card-hover-face-after) !important;
}

.card .face
.card .face::before
{
    pointer-events: none;
}
