/******************************************************************************
* game area
*/
.card .face.game_area_1 .image {
    outline-color: rgb(176, 176, 176);
}
.dealt-encounter-cards .card .face.game_area_2 .image,
.area-schemes .card .face.game_area_2 .image,
.area-center .card .face.game_area_2 .image {
    outline-color: slateblue;
}
.dealt-encounter-cards .card .face.game_area_3 .image,
.area-schemes .card .face.game_area_3 .image,
.area-center .card .face.game_area_3 .image {
    outline-color: palevioletred;
}
.dealt-encounter-cards .card .face.game_area_4 .image,
.area-schemes .card .face.game_area_4 .image,
.area-center .card .face.game_area_4 .image {
    outline-color: olivedrab;
}
.dealt-encounter-cards .card .face.game_area_5 .image,
.area-schemes .card .face.game_area_5 .image,
.area-center .card .face.game_area_5 .image {
    outline-color: salmon;
}

/*******************************************************************************/
.control_player_0 {
    --color: rgb(45, 61, 176);
}
.control_player_1 {
    --color: rgb(138, 45, 45);
}
.control_player_2 {
    --color: rgb(187, 176, 53);
}
.control_player_3 {
    --color: rgb(51, 127, 56);
}

.control_player_0,
.control_player_1,
.control_player_2,
.control_player_3 {
    --show-control-by: 1;
}

.current_player_0 .control_player_0 { --show-control-by: 0; }
.current_player_1 .control_player_1 { --show-control-by: 0; }
.current_player_2 .control_player_2 { --show-control-by: 0; }
.current_player_3 .control_player_3 { --show-control-by: 0; }

.card:hover div[class*="control_player_"] .equip,
.card:hover div[class^="control_player_"] .equip {
    scale: var(--this-scale);
}

body:has(#player-all-hand-cards > .card:hover > .control_player_0) .type-hero      > .control_player_0 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_0) .type-alter-ego > .control_player_0 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_1) .type-hero      > .control_player_1 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_1) .type-alter-ego > .control_player_1 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_2) .type-hero      > .control_player_2 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_2) .type-alter-ego > .control_player_2 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_3) .type-hero      > .control_player_3 > .info > .control_player,
body:has(#player-all-hand-cards > .card:hover > .control_player_3) .type-alter-ego > .control_player_3 > .info > .control_player
{
    filter: brightness(2);
    --show-control-by: 1;
}

#player-all-in-one.hide2,
#always-show-minions-belong.hide2 {
    display: none;
}
