.card.moving {
    z-index: var(--z-index-anime) !important;
    pointer-events: none;
}

/* .card.moving .face .image {
    animation-duration: 10s;
} */

/* @keyframes moving-animation {
    0% {scale: var(--this-scale)}
    20% {scale: calc(var(--this-scale) * 1.5);}
    60% {scale: var(--this-scale);}
    100% {scale: var(--this-scale);}
} */

