.card .debug-text {
    opacity: 1;
    z-index: var(--z-index-card-hover-face-after);
    position: absolute;
    top: calc(-.55 * var(--font-size));

    text-align: right;
    direction: rtl;

    font-family: monospace;
    /* font-size: var(--font-size); */
    font-size: calc(0.9 * var(--font-size));
    word-break: break-word;

    color: #87E911;
    height: calc(1 * var(--font-size));
    line-height: var(--font-size);
    user-select: none;
    overflow: hidden;
    width: 100%;
}

.card:hover .debug-text {
    width: 120%;
    top: -35px;
    height: calc(1.5 * var(--font-size));
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .debug-text:hover {
    background-color: rgba(146, 51, 51, 0.8);
}

.card .debug-text .debug-name {
    display: flex;
    justify-content: space-around;
}

.card.type-status-card > .debug-text span:nth-child(2) {
    display: none;
}

div.debug-text div.debug-name > span:nth-child(1) {
    width: max-content;
    max-width: 100%;
    min-width: max-content;
}

.card:hover .debug-text .debug-name span {
    background-color: black;
    transition: none;
}

.card .debug-text .debug-name span {
    background: none;
    /* width: fit-content; */
    font-weight: lighter;
    /* -webkit-text-stroke: black 1px; */
    transition: 2s linear background-color;
}

.card.type-status-card .debug-text {
    height: 2.5rem;
}

.card.type-status-card .debug-text p:first-child {
    writing-mode: vertical-rl;
}

.card:has(.badge-new) .debug-text {
    display: none;
}

