/*****************************************************************************
* Cost
*/
.player-deck .card.highlight-effect .face .bind-image-info::after,
.player-discard-pile .card.highlight-effect .face .bind-image-info::after,
.additional-discard-pile .card.highlight-effect .face .bind-image-info::after,
#player-all-hand-cards .card.highlight-effect .face .bind-image-info::after,
#player-all-hand-cards .card.show-cost .face .bind-image-info::after {
    content: attr(data-cost);

    font-style: italic;
    position: absolute;
    top: 0;
    left: calc(.2 * var(--font-size));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #30a35a;
    --text-shadow-color: black;
    text-shadow: 2px 0 var(--text-shadow-color), -2px 0 var(--text-shadow-color), 0 2px var(--text-shadow-color), 0 -2px var(--text-shadow-color), 1px 1px var(--text-shadow-color), -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color), -1px 1px var(--text-shadow-color);;
}

.face .bind-image-info::after {
    font-size: calc(1.4 * var(--font-size));
    font-weight: 900;
}

#player-all-hand-cards .highlight-pay.card .face .bind-image-info::after,
#player-all-hand-cards .highlight-targets.card .face .bind-image-info::after,
#player-all-hand-cards .card:not(.show-cost) .face .bind-image-info::after {
    content: "";
}

