.card.activating {
    --this-scale: var(--card-scale-active);
}

#area-schemes-side .card.activating {
    z-index: var(--z-index-card-hover-face-after);
}

.deck .card.activating {
    z-index: var(--z-index-card-hover-face-after);
}

.card.activating:not(.selected):not(.highlight-targets) .face .image {
    --color1: rgb(255, 247, 15);
    --color2: rgb(249, 181, 24);
    box-shadow:
        -1px -1px 10px 2px var(--color1),
        1px 1px 10px 2px var(--color2) !important;
}

.deck.clicked .card.activating {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    --this-scale: 1;
}

/*******************************************************************************/
.deck.encounter-deck    .card.activating:not(.moving),
.deck.deck-top          .card.activating:not(.moving)
{
    --top: calc(var(--card-height) * .25);
}
.deck.player-discard-pile       .card.activating:not(.moving),
.deck.player-deck               .card.activating:not(.moving),
.deck.encounter-discard-pile    .card.activating:not(.moving),
.deck.encounter-deck            .card.activating:not(.moving) {
    --left: calc(var(--x) * 1px + var(--card-width) * .25);
}
.deck.encounter-discard-pile    .card.activating:not(.moving),
.deck.encounter-discard-pile    .card.selected:not(.moving) {
    --top: calc(var(--y) * 1px + var(--card-height) * .25);
}
.deck.player-deck               .card.activating:not(.moving) {
    --top: calc(var(--y) * 1px - var(--card-height) * .75);
}

