.card .face .image,
.card .face .image::after,
.card .face .image::before,
.card .face .image .bind-image-info,
.card .face .image .bind-image-info::after,
.card .face .image .bind-image-info::before
{
    pointer-events: none;
}

.card:hover .face .image::after {
    will-change: unset !important;
}

.card .face .image {
    will-change: scale;
}

.card .face .image::after,
.card .face .image {
    transition: scale var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1), 
                background-color var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1);
}

.card .face .image,
.card .face .image .bind-image-info,
.card .face .image::after,
.card .face .image::before,
.card .face .image .info_pay::after,
.card .face
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    border-radius: 5%/3.5%;
}

.card .face .image::after,
.card .face .image::before,
.card .face .image .info_pay::after {
    content: "";
}

.card .face .image::before,
.card .face .image::after
{
    background-blend-mode: color-burn;
}

/* .face .info::after, */
.card .face .image {
    scale: var(--this-scale);
}
