.selected .face .image .info_pay::after {
    box-shadow: -1px -1px 40px 1px var(--color1) inset !important;
}

.highlight-pay      .face .image .info_pay::after,
.highlight-targets  .face .image .info_pay::after,
.highlight-effect   .face .image .info_pay::after,
.deck:not(:hover):not(.clicked) .card:last-child .face .image .info_pay::after
{
    box-shadow:
        /* -1px -1px 5px 2px var(--color1), */
        /* 1px 1px 5px 4px var(--color2), */
        -1px -1px 8px 3px var(--color1),
        1px 1px 8px 6px var(--color2);
}

/* pulse */
body:not(.replaying) .highlight-targets:not(.selected) .face .image .info_pay::after {
    animation: highlight-flash .4s ease-in-out 0s 1 normal forwards;
}

@keyframes highlight-flash {
    0% {
        box-shadow:
            -1px -1px 8px 3px var(--color1),
            1px 1px 8px 6px var(--color2);
    }
    50% {
        box-shadow:
            -1px -1px 3px 1px var(--color1),
            1px 1px 3px 2px var(--color2);
        background-color: var(--color1);
        opacity: 0.2;
    }
    100% {
        box-shadow:
            -1px -1px 8px 3px var(--color1), /* Maintain the full shadow */
            1px 1px 8px 6px var(--color2);
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

.deck:not(:hover):not(.clicked):has(.highlight-effect):not(:has(.selected)) .card:not(.moving):last-child .face .image,
.deck.clicked .card.highlight-effect .face .image,
.area .card.highlight-effect .face .image {
    --color1: rgba(200, 188, 47, 0.953);
    --color2: rgba(94, 226, 61, 0.953);
}

.deck:not(:hover):not(.clicked):has(.highlight-effect.forced-action-effect):not(:has(.selected)) .card:not(.moving):not(.selected):last-child .face .image,
.deck.clicked .card.highlight-effect.forced-action-effect:not(.selected) .face .image,
.area .card.highlight-effect.forced-action-effect:not(.selected) .face .image {
    --color1: rgba(200, 188, 47, 0.953);
    --color2: rgba(247, 15, 15, 0.953);
}

.deck:not(:hover):not(.clicked):has(.highlight-targets):not(:has(.selected)) .card:not(.moving) .face .image,
.deck.clicked .card.highlight-targets .face .image,
.area .highlight-targets .face .image {
    /* outline-style: dashed; */
    /* outline-color: rgb(159, 82, 131); */
    --color1: rgb(170, 0, 255);
    --color2: rgb(99, 21, 105);
}

.highlight-pay .face .image {
    --color1: rgb(238, 255, 0, 0.953);
    --color2: rgb(149, 149, 78, 0.953);
}

#player-all-hand-cards .selected.card::after,
#player-all-hand-cards .selected .face .image {
    transform: translateY(-30px);
}

.selected.card::after {
    content: attr(select-count);

    color: rgb(230, 59, 59);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(5 * var(--font-size));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: italic;
    opacity: 1;
}

.deck:not(:hover):not(.clicked) .card.selected .face .image,
.deck.clicked .card.selected .face .image,
.area .selected .face .image {
    --color1: rgb(154, 189, 209);
    --color2: rgb(207, 171, 182);
    --color1: rgb(209, 154, 163);
    --color2: rgb(216, 29, 29);
    outline-style: solid !important;
    outline-color: red !important;
}

.selected-pay .face .image {
    --color1: rgb(238, 255, 0, 0.953);
    --color2: rgb(149, 149, 78, 0.953);
    outline-style: solid !important;
    outline-color: red !important;
}

.selected-pay .info_pay > div {
    opacity: 1;
    /* filter: brightness(1.5); */
}

.hover_bind .face .equip::after {
    background: none;
}
.hover_effected_to .face .equip::after {
    background: url("target") center center no-repeat;
}
.hover_effected_by .face .equip::after {
    background: url("equip") center center no-repeat;
}

.hover_bind .face .equip::after,
.hover_effected_by .face .equip::after,
.hover_effected_to .face .equip::after {
    will-change: scale;
    background-size: 80%;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    --width: var(--card-width);
    width: var(--width);
    height: var(--width);
    transform-origin: center center;
    border-radius: 5%/3.5%;

    margin: auto;
}

.deck .highlight-targets.card {
    /* --index: 40; */
    /* transition: none; */
}

.deck .card.selected:not(.moving) {
    --select-index: 0;
    --left: calc(var(--x) * 1px + (var(--card-width) + 2px) * (var(--select-index) + 1 ));
    /* --index: var(--select-index); */
}

.deck .card.selected:not(.moving):last-child {
    --select-index: -1;
}

.deck-top.deck .card.selected:not(.moving) {
    --top: 10px;
}

.player-deck.deck .card.selected:not(.moving) {
    --top: 900px;
    z-index: 1;
}

/* 15007 */
/* .deck .highlight-targets.card:not(.selected),
.deck:has(.selected) .card:not(.selected) {
    --anime-move-time: 0
} */

