
/*****************************************************************************
* Change value
*/
.change-value {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.change-value::after {
    content: attr(data-value);
    animation-name: change-value-animation;
    animation-duration: calc(var(--anime-time) * 10);
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(4 * var(--font-size));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: italic;
    opacity: 0;
    /* background-color: #04AA6D; */
    --offset: 1rem;
    z-index: var(--z-index-change-value);
    transform: translateY(calc(var(--offset) * var(--instance-index) - var(--offset) * .5));
}

.target_health,
.change-value.health.add {
    color: #0ab732;
    --color: #0ab732;
}
.change-value.health.sub {
    color: #c01b2e;
}


.change-value.trait {
    color: bisque;
}

@keyframes change-value-animation {
    0% {opacity: .8; scale: 1.5;}
    60% {opacity: .8;}
    100% {opacity: 0; scale: 1;}
}

.deck .change-value {
    display: none;
}

.change-value.threat.sub,
.change-value.threat.add {
    color: #e9e275;
}

.target_boost,
#area-play .icon-boost:before,
.change-value.boost {
    color: #bd293c;
    --color: #bd293c;
}

