/* codepen.io/Leoschmittk/pen/vYyPYKx */

.title {
    font: 3em Arial;
    color:#fff;
}

.ripple {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffff59;
    pointer-events: none;
}

@keyframes ripple-effect {
    to {
        transform:scale(15);
        opacity: 0.01;
    }
}

