.deck {
    font-size: var(--font-size);
    color: white;
    user-select: none;
}

.deck {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    position: absolute;
    transition: none;
}

.area.hide,
.deck.hide {
    display: block !important;
    pointer-events: none;
}

.deck {
    display: flex;
}

.deck:hover .card:hover,
.deck:hover {
    animation: none;
    transition: none;
    transition-duration: 0s;
}

/******************************************************************************
* deck
*/
.deck.clicked {
    rotate: 0deg  !important;
    position: absolute;
    left: 300px !important;
    right: 150px !important;
    background-color: #2a2b26;
    padding: var(--font-size) 2px;
    padding: calc(.8 * var(--font-size));
    margin: 0 calc(var(--border-size) * .5);

    border-radius: var(--font-size);
    outline-style: outset;
    outline-color: rgb(72, 66, 66);
    box-shadow: -5px 0px 10px #000c;

    display: grid;
    /* grid-template-columns: repeat(auto-fit, var(--card-width)); */
    grid-template-columns: repeat(auto-fit, calc(1 * var(--card-width)));
    grid-row: 1;
    grid-gap: calc(.5 * var(--font-size));
    z-index: var(--z-index-deck-hover);

    justify-content: start;
    max-width: auto;

    max-height: 100vh;
    overflow-y: auto;
}

.deck.clicked::-webkit-scrollbar {
    display: none;
}

.deck.encounter-discard-pile.clicked,
.deck-top.deck.clicked {
    top: 185px;
    bottom: unset;
}

.deck.clicked {
    top: unset;
    bottom: 150px;
}

.deck.clicked .card {
    top: unset;
    left: unset;
    position: relative;
    transform: none;
    transition: none;
    animation-name: none !important;
}

.deck.clicked::after {
    font: normal normal normal 14px/1 FontAwesome;

    content: "(" attr(data-total_cards) ") Top \f149";
    right: 10px;
    left: unset;
    bottom: 5px;
    top: unset;
    font-weight: bold;
    font-size: calc(.8 * var(--font-size));
    /* font-family: monospace; */
    color:gray;
    height: fit-content;
    width: fit-content;
    padding: 0 !important;
    display: flex;
    align-items: flex-end;
    height: 100%;
    position: absolute;
    position: sticky;
}

.deck.deck-change-size.clicked::after {
    animation: none;
}

/* .deck::after, */
.deck.deck-change-size:not(.clicked)::after,
.deck:not(.clicked):hover::after {
    position: absolute;
    top: calc(var(--y) * 1px + var(--card-height) - 2.5 * var(--font-size));
    left: calc(var(--x) * 1px);
    width: var(--card-width);
    z-index: 99;
    content: attr(data-total_cards);

    color: goldenrod;
    height: calc(2.5 * var(--font-size));
    /* border-radius: 50%; */
    /* background-color: blue; */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    /* font-style: italic; */
    font-size: calc(2.5 * var(--font-size));

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-text-stroke: black 2px;

    overflow: hidden;
    pointer-events: none;

    /* background: blue; */
}

.player-deck.deck.deck-change-size::after,
.player-deck.deck:not(.clicked):hover::after {
    top: calc(var(--y) * 1px);
}

.deck.deck-change-size::after {
    animation: deck-size-change-animation 1s linear;
}

@keyframes deck-size-change-animation {
    0% {
        padding-bottom: 50px;
    }
    50% {
        padding-bottom: 0px;
        opacity: 1;
    }
    100% {
        padding-bottom: 0px;
        opacity: 0;
    }
}

.deck.clicked {
    background-color: #393c2d;
    transform: translateZ(16px);
}

.deck.clicked:has(.being-searching) .card:not(.being-searching) {
    display: none;
}

/* We cannot add this, if card is peeking in deck, only peeking card will be display */
/* .deck.clicked:has(.peeking) .card:not(.peeking) {
    display: none;
} */

