/******************************************************************************
* Area
*/
#area-environment .card .face .image::after,
#area-villain .card .face .image::after {
    transform-origin: 50% 0%;
}

.area#area-play .card {
    margin: 0 calc(var(--card-width) * .1);
}

/*******************************************************************************/
#player-all-area-hero .card:hover .face .image::after,
#area-play .card:hover .face .image::after {
    transform-origin: 50% 80% !important;
}

/*******************************************************************************/
#player-all-engaged-minions .card .face .info,
/* #area-play .card .face .info, */
#area-schemes-main .card .face .info,
#area-schemes-side .card .face .info,
#area-environment .card .face .info,
#player-all-area-hero .card .face .info,
#area-villain .card .face .info,
#player-all-hand-cards .card .face .info,
/* .player-discard-pile .card .face .info, */
#player-all-supports .card .face .info,
#player-all-allies .card .face .info {
    display: flex;
}

/******************************************************************************
* Deck
*/
.additional-deck .card:hover .face .image::after {
    transform-origin: 50% 80%;
}


/******************************************************************************
* Top position
*/

#encounter-discard-pile-0,
#encounter-deck-0{
    --index: 0
}
#encounter-discard-pile-1,
#encounter-deck-1{
    --index: 1
}
#encounter-discard-pile-2,
#encounter-deck-2{
    --index: 2
}
#encounter-discard-pile-3,
#encounter-deck-3{
    --index: 3
}

[id^="encounter-discard-pile-"]{
    transition: none;
}

.deck-top.deck {
    transition: none;
}
#removed-pool {
    /* user-select: none; */
    pointer-events: none;
}

#removed-pool .card {
    --z: 0;
    pointer-events: none;
}

#removed-pool .card.shuffling,
#removed-pool .card.moving,
#removed-pool .card.activating {
    opacity: 1;
}

#removed-pool .card {
    opacity: 0;
}

#removed-pool::after {
    display: none;
}

.deck-top .card .face .image::after {
    transform-origin: 50% 0%;
}

.dealt-encounter-cards .face .image {
    transform-origin: left center;
}

#area-schemes-side .face .image,
#area-schemes-main .face .image {
    transform-origin: right;
}

#area-villain .face .image {
    transform-origin: top;
}

/******************************************************************************/
#area-schemes-side .card:not(.facedown).type-player-side-scheme .face .info::after,
#area-schemes-side .card:not(.facedown).type-encounter-side-scheme .face .info::after,
#area-schemes-main .card:not(.facedown).type-main-scheme .face .info::after {
    color: white;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    /* outline: 1px solid white; */
    width: fit-content;
    font-style: italic;
    padding: calc(.3 * var(--font-size));
    left: 0;
    /* border-bottom-left-radius: .5rem; */
    right: 0;
    bottom: 0;
    font-size: calc(2 * var(--font-size));
    letter-spacing: calc(.25 * var(--font-size));
}


#area-schemes-side .card.type-player-side-scheme:hover .face .info:has(> .threat)::after,
#area-schemes-side .card.type-encounter-side-scheme:hover .face .info:has(> .threat)::after,
#area-schemes-main .card.type-main-scheme:hover .face .info:has(> .target_threat)::after,
#area-schemes-main .card.type-main-scheme:hover .face .info:has(> .threat)::after {
    opacity: .5;
}

#area-schemes-main .card.type-main-scheme .face .info:has(> .target_threat):has(> .threat)::after {
    content: attr(data-threat) "/" attr(data-target_threat) "";
    background-color: black;
    /* +" attr(data-acceleration); */
}

#area-schemes-main .card.type-main-scheme .face .info:has(> .threat)::after {
    content: attr(data-threat);
    background-color: black;
    /* +" attr(data-acceleration); */
}

#area-schemes-side .card.type-player-side-scheme .face .info:has(> .threat)::after,
#area-schemes-side .card.type-encounter-side-scheme .face .info:has(> .threat)::after {
    content: attr(data-threat) "";
    background-color: black;
}

#villain-schemes {
    top: calc(var(--border-size) - var(--card-height));
    right: calc(var(--border-size) + var(--card-height));
    display: none;
}
#villain-schemes:hover {
    top: 0;
}
#villain-schemes .card .face .image::after {
    transform-origin: 50% 0%;
}
#villain-schemes::after {
    display: none;
}

/******************************************************************************/
#area-boost .card .face .image::after {
    transform-origin: 0% 50%;
}

