/* https://github.com/zzorba/marvelsdb/pull/266/files#diff-46b1651776b2f971b8b6ea915b4e88ed1c7f2ca01898b316f0724940e3f08dae */
[class^="icon-"],[class*=" icon-"] {
    font-family: 'marvel-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

.deck .icon-boost:before,
.area .icon-boost:before {
    content: "";
}

#area-play .icon-boost:before {
    content: "B";
    font-size: calc(2 * var(--font-size));

    --text-shadow-color1: rgb(36, 36, 36);
    --text-shadow-color: rgb(182, 47, 47);
    text-shadow: +2px 0 var(--text-shadow-color1),
        -2px 0 var(--text-shadow-color1),
        0 +2px var(--text-shadow-color1),
        0 -2px var(--text-shadow-color1),
        +1px +1px var(--text-shadow-color1),
        -1px -1px var(--text-shadow-color1),
        +1px -1px var(--text-shadow-color1),
        -1px +1px var(--text-shadow-color1);
}

.icon-per_hero:before {
    content: "G"
}

.icon-hazard:before,
.icon-acceleration:before,
.icon-crisis:before,
.icon-amplify:before {
    font-size: 52px;
    color: lightgray;

    --text-shadow-color1: black;
    text-shadow: +2px 0 var(--text-shadow-color1),
        -2px 0 var(--text-shadow-color1),
        0 +2px var(--text-shadow-color1),
        0 -2px var(--text-shadow-color1),
        +1px +1px var(--text-shadow-color1),
        -1px -1px var(--text-shadow-color1),
        +1px -1px var(--text-shadow-color1),
        -1px +1px var(--text-shadow-color1);
}

.icon-crisis:before {
    content: "C";
}
.icon-amplify:before {
    content: "F"
}
.icon-acceleration-token:before,
.icon-acceleration:before {
    content: "A";
}

.card .k_acceleration_token.change-value,
.icon-acceleration-token:before {
    /* color: #912020; */
    color: darkorange;
}
span:has( + span.icon-acceleration-token) {
    color: #cd6b35;
    font-size: calc(1.1 * var(--font-size));
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon-acceleration-token:before {
    font-size: 60px;
    color: #322629;
    --text-shadow-color1: #cd6b35;
    text-shadow: +2px 0 var(--text-shadow-color1),
        -2px 0 var(--text-shadow-color1),
        0 +2px var(--text-shadow-color1),
        0 -2px var(--text-shadow-color1),
        +1px +1px var(--text-shadow-color1),
        -1px -1px var(--text-shadow-color1),
        +1px -1px var(--text-shadow-color1),
        -1px +1px var(--text-shadow-color1);
}
.icon-hazard:before {
    content: "H";
}
.icon-per_hero:before {
    content: "G"
}
.icon-unique:before {
    content: "U"
}
.icon-boost:before {
    color: #7c2626;
    content: "B"
}
.icon-cost:before {
    content: "D"
}
.icon-energy_fill:before {
    content: "E";
    color: #86671b
}
.icon-energy_outline:before {
    content: "E";
    color: #f6be33
}
.icon-energy:before {
    content: "E";
    color: #86671b
}
.icon-mental_fill:before {
    content: "M";
    color: #b7c9eb
}
.icon-mental_outline:before {
    content: "M";
    color: #5c72c1
}
.icon-mental:before {
    content: "M";
    color: #b7c9eb
}
.icon-physical_fill:before {
    content: "P";
    color: #ee9080
}
.icon-physical_outline:before {
    content: "P";
    color: #aa3220
}
.icon-physical:before {
    content: "P";
    color: #ee9080
}
.icon-wild_fill:before {
    content: "W";
    color: #45bc5c
}
.icon-wild_outline:before {
    content: "W";
    color: #247034
}
.icon-wild:before {
    content: "W";
    color: #45bc5c
}
.icon-consequential:before {
    content: "D";
    color: white
}

