div > .card:nth-child(1) { --index: 1; }
div > .card:nth-child(2) { --index: 2; }
div > .card:nth-child(3) { --index: 3; }
div > .card:nth-child(4) { --index: 4; }
div > .card:nth-child(5) { --index: 5; }
div > .card:nth-child(6) { --index: 6; }
div > .card:nth-child(7) { --index: 7; }
div > .card:nth-child(8) { --index: 8; }
div > .card:nth-child(9) { --index: 9; }
div > .card:nth-child(10) { --index: 10; }
div > .card:nth-child(11) { --index: 11; }
div > .card:nth-child(12) { --index: 12; }
div > .card:nth-child(13) { --index: 13; }
div > .card:nth-child(14) { --index: 14; }
div > .card:nth-child(15) { --index: 15; }
div > .card:nth-child(16) { --index: 16; }
div > .card:nth-child(17) { --index: 17; }
div > .card:nth-child(18) { --index: 18; }
div > .card:nth-child(19) { --index: 19; }
div > .card:nth-child(20) { --index: 20; }
div > .card:nth-child(21) { --index: 21; }
div > .card:nth-child(22) { --index: 22; }
div > .card:nth-child(23) { --index: 23; }
div > .card:nth-child(24) { --index: 24; }
div > .card:nth-child(25) { --index: 25; }
div > .card:nth-child(26) { --index: 26; }
div > .card:nth-child(27) { --index: 27; }
div > .card:nth-child(28) { --index: 28; }
div > .card:nth-child(29) { --index: 29; }
div > .card:nth-child(30) { --index: 30; }
div > .card:nth-child(31) { --index: 31; }
div > .card:nth-child(32) { --index: 32; }
div > .card:nth-child(33) { --index: 33; }
div > .card:nth-child(34) { --index: 34; }
div > .card:nth-child(35) { --index: 35; }
div > .card:nth-child(36) { --index: 36; }
div > .card:nth-child(37) { --index: 37; }
div > .card:nth-child(38) { --index: 38; }
div > .card:nth-child(39) { --index: 39; }
div > .card:nth-child(40) { --index: 40; }
div > .card:nth-child(41) { --index: 41; }
div > .card:nth-child(42) { --index: 42; }
div > .card:nth-child(43) { --index: 43; }
div > .card:nth-child(44) { --index: 44; }
div > .card:nth-child(45) { --index: 45; }
div > .card:nth-child(46) { --index: 46; }
div > .card:nth-child(47) { --index: 47; }
div > .card:nth-child(48) { --index: 48; }
div > .card:nth-child(49) { --index: 49; }
div > .card:nth-child(50) { --index: 50; }
div > .card:nth-child(51) { --index: 51; }
div > .card:nth-child(52) { --index: 52; }
div > .card:nth-child(53) { --index: 53; }
div > .card:nth-child(54) { --index: 54; }
div > .card:nth-child(55) { --index: 55; }
div > .card:nth-child(56) { --index: 56; }
div > .card:nth-child(57) { --index: 57; }
div > .card:nth-child(58) { --index: 58; }
div > .card:nth-child(59) { --index: 59; }
div > .card:nth-child(60) { --index: 60; }
div > .card:nth-child(61) { --index: 61; }
div > .card:nth-child(62) { --index: 62; }
div > .card:nth-child(63) { --index: 63; }
div > .card:nth-child(64) { --index: 64; }
div > .card:nth-child(65) { --index: 65; }
div > .card:nth-child(66) { --index: 66; }
div > .card:nth-child(67) { --index: 67; }
div > .card:nth-child(68) { --index: 68; }
div > .card:nth-child(69) { --index: 69; }
div > .card:nth-child(70) { --index: 70; }
div > .card:nth-child(71) { --index: 71; }
div > .card:nth-child(72) { --index: 72; }
div > .card:nth-child(73) { --index: 73; }
div > .card:nth-child(74) { --index: 74; }
div > .card:nth-child(75) { --index: 75; }
div > .card:nth-child(76) { --index: 76; }
div > .card:nth-child(77) { --index: 77; }
div > .card:nth-child(78) { --index: 78; }
div > .card:nth-child(79) { --index: 79; }
div > .card:nth-child(80) { --index: 80; }
div > .card:nth-child(81) { --index: 81; }
div > .card:nth-child(82) { --index: 82; }
div > .card:nth-child(83) { --index: 83; }
div > .card:nth-child(84) { --index: 84; }
div > .card:nth-child(85) { --index: 85; }
div > .card:nth-child(86) { --index: 86; }
div > .card:nth-child(87) { --index: 87; }
div > .card:nth-child(88) { --index: 88; }
div > .card:nth-child(89) { --index: 89; }
div > .card:nth-child(90) { --index: 90; }
div > .card:nth-child(91) { --index: 91; }
div > .card:nth-child(92) { --index: 92; }
div > .card:nth-child(93) { --index: 93; }
div > .card:nth-child(94) { --index: 94; }
div > .card:nth-child(95) { --index: 95; }
div > .card:nth-child(96) { --index: 96; }
div > .card:nth-child(97) { --index: 97; }
div > .card:nth-child(98) { --index: 98; }
div > .card:nth-child(99) { --index: 99; }

