#message-overlay {
    position: fixed;
    bottom: 50%;
    height: 125px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 9999;
    animation: none;
    transform: translateX(-100%);
    flex-direction: column;
    user-select: none;

    transition: opacity var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

#message-overlay.active {
    animation: overlay-move 1.5s forwards;
}

.message-text {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;

    --text-shadow-color: skyblue;
    text-shadow: 1px 1px var(--text-shadow-color), -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color), -1px 1px var(--text-shadow-color);
}

@keyframes overlay-move {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

