#player-mouse-0,
#player-mouse-1,
#player-mouse-2,
#player-mouse-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -100px;
    top: -100px;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

#player-mouse-0 {
    background-color: rgb(45, 61, 176);
}
#player-mouse-1 {
    background-color: rgb(138, 45, 45);
}
#player-mouse-2 {
    background-color: rgb(187, 176, 53);
}
#player-mouse-3 {
    background-color: rgb(51, 127, 56);
}

body.current_player_0 #player-mouse-0,
body.current_player_1 #player-mouse-1,
body.current_player_2 #player-mouse-2,
body.current_player_3 #player-mouse-3 {
    display: none;
}

