/* https://codepen.io/cleveryeti/embed/JjwNqgP */
.notifications {
    font-family: "Inter";
    font-family: monospace;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;

    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0.5rem;

    position: absolute;
    right: 0;
    bottom: 0;
}

.noti {
    position: relative;
    height: 0;
    transition: height 300ms ease;
    flex-shrink: 0;
    opacity: 1;
}
.noti.out {
    animation: noti-out-animation 500ms ease forwards;
}
@keyframes noti-out-animation {
    to {
        height: 0;
    }
}

.noticard {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    width: 18rem;
    d-height: 8rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    animation: noti-card-in-animation 500ms ease;
}
@keyframes noti-card-in-animation {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
}
.noti.out .noticard {
    animation: noti-card-out-animation 500ms ease forwards;
}
@keyframes noti-card-out-animation {
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}
.noticard:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2;
}
.noticard.error:before {
    background: #420909;
}
.noticard.debug:before {
    background: #0e3413;
}
.noticard:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.noticard:hover:after {
    transform: translateX(0.15rem);
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.5rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}
.noti:hover .notititle {
    transform: translateX(0.15rem);
}
.notidesc {
    color: #99999d;
    padding: 0 0.5rem 0.85rem 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
}
.noti:hover .notidesc {
    transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        circle closest-side at center,
        white,
        transparent
    );
    opacity: 0;
    transition: opacity 300ms ease;
    pointer-events: none;
}
.notiglow {
    z-index: 3;
}
.notiborderglow {
    z-index: 1;
}

.noti:hover .notiglow {
    opacity: 0.1;
}
.noti:hover .notiborderglow {
    opacity: 0.1;
}

/******************************************************************************/
.notifications .timeout-bar {
    height: 2px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    animation: timeoutbar-animation 500ms linear forwards;
}

@keyframes timeoutbar-animation {
    to {
        width: 0;
    }
}

.statistics-notify-img {
    width: 75px;
    height: 105px;
    margin-right: 10px;
    border-radius: 0.5em;
    outline: 1px solid black;
    background-image: var(--bg-image-true);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

