.debug-only {
    display: none;
}
.do-save {
    color: tomato;
}
.do-load {
    color: teal;
}

#current-round,
output.slider {
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

#current-round {
    color: rgb(24, 24, 24);
    padding-left: 2rem;
    width: auto;
    font-weight: bold;
}

