#phase {
    position: absolute;
    bottom: calc(5vh + 3 * var(--card-height));;
    width: 100%;
    pointer-events: none;
}
#phase::after {
    content: attr(data-phase);
    color: #3b3b3b;
    user-select: none;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

