.player-background {
    position: absolute;
    top: 40%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 0;

    pointer-events: none;
}

.player-0.hide-player,
.player-1.hide-player,
.player-2.hide-player,
.player-3.hide-player {
    display: none;
}

.player-background.player-0 {
    background: radial-gradient(rgb(45, 51, 94), #111);
}
.player-background.player-1 {
    background: radial-gradient(rgb(99, 49, 49), #111);
}
.player-background.player-2 {
    background: radial-gradient(rgb(86, 99, 49), #111);
}
.player-background.player-3 {
    background: radial-gradient(rgb(49, 99, 52), #111);
}

.dealt-encounter-cards,
#player-all-engaged-minions,
#player-all-area-hero,
.player-0.deck,
.player-1.deck,
.player-2.deck,
.player-3.deck {
    transition: none;
}

.area.dealt-encounter-cards .card .face .image::after {
    transform-origin: 0% 50%;
}

.area.dealt-encounter-cards .card {
    margin: 0;
}

.player-0 { --player-index: 0 }
.player-1 { --player-index: 1 }
.player-2 { --player-index: 2 }
.player-3 { --player-index: 3 }
