#area-schemes-main,
#area-schemes-side,
.area {
    top: 0 !important;
    left: 0 !important;
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    right: unset !important;
}

.area .card {
    --z: 1;
}

/* .area .card:hover {
    --z: 4;
} */

#player-all-engaged-minions {
    --y: 210;
}

#player-all-allies {
    --y: 410;
}

#player-all-supports {
    --y: 605;
}

#player-all-area-hero {
    --y: 795;
}

#player-all-hand-cards {
    --y: 975;
}

.area-center {
    margin: 0;
}

#area-play {
    --y: 350;
    --x: 50;
    margin: 0;
}

#area-schemes-main,
#area-schemes-side {
    --x: 1880;
}
#area-villain {
    --y: 10;
}
#area-schemes-main {
    --y: 80;
}
#area-schemes-side {
    --y: 280;
}

.area::after {
    /* content: ""; */
    /* background-color: var(--debug-area-background-color); */
    width: calc(var(--width) * 1px);
    height: var(--card-height);
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    border: dotted 10px rgba(255,255,255,0.25);
    pointer-events: none;
}

