#player-all-resources {
    right: 5%;
    position: absolute;
    bottom: var(--border-size);
    height: calc(2.5 * var(--font-size));
    direction: rtl;
}

#player-all-resources .res-1 {
    --res-color: white;
}
.res-b {
    --res-color: #596fa9;
}
.res-y {
    --res-color: #e6bd48;
}
.res-g {
    --res-color: #1d6a39;
}
.res-r {
    --res-color: #8f1f1b;
}

#player-all-resources .res-1,
#player-all-resources .res-b,
#player-all-resources .res-y,
#player-all-resources .res-g,
#player-all-resources .res-r {
    width: calc(var(--card-width) / 2);
    height: calc(var(--card-width) / 2);
    min-width: calc(var(--card-width) / 2);

    float: left;
    border-radius: 50%;
    margin-right: calc(.5 * var(--font-size));
    animation-name: res-effect-animation;
    opacity: 1;
    z-index: var(--z-index-res);

    background-color: var(--res-color);

    border:rgb(179, 179, 179) 3px solid;
}

@keyframes res-effect-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/******************************************************************************/

.card:hover .info_pay > div {
    opacity: 1;
}

.info_pay .res-b,
.info_pay .res-y,
.info_pay .res-g,
.info_pay .res-r {
    opacity: 1;
}

#player-all-resources {
    --font-size: var(--font-size-out);
}

#player-all-resources .res-1,
#player-all-resources .res-b,
#player-all-resources .res-y,
#player-all-resources .res-g,
#player-all-resources .res-r,
.info_pay .res-b,
.info_pay .res-y,
.info_pay .res-g,
.info_pay .res-r
{
    z-index: var(--z-index-res);

    border:none;

    color: var(--res-color);

    font-size: var(--font-size);

    --width: calc(var(--font-size) * 2);
    width: var(--width);
    height: var(--width);
    min-width: var(--width);
    border-radius: 50%;
    background-color: var(--res-color);

    z-index: var(--z-index-res);

    border:rgb(179, 179, 179) 3px solid;

    box-shadow:
        +1px +1px 1px var(--res-color),
        +2px +2px 1px var(--res-color),
        -2px +2px 1px var(--res-color),
        -2px -2px 1px var(--res-color),
        +2px -2px 1px var(--res-color),
        +1px +1px 1px var(--res-color),
        -1px +1px 1px var(--res-color),
        -1px -1px 1px var(--res-color),
        +1px -1px 1px var(--res-color);

    text-shadow: none;
}

.card .face .info_pay {
    position: absolute;
    pointer-events: none;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    color: white;

    display:flex;
    flex-direction: row;
    wrap: wrap;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0;
    margin: 0;

    gap: calc(0.15 * var(--font-size));

    white-space: pre-wrap;
}


[class^="res-"],[class*=" res-"] {
    font-family: 'marvel-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-y:before {
    content: "E";
    color: #f6be33
}
.res-y:before {
    content: "E";
    color: #86671b
}
.res-b:before {
    content: "M";
    color: #5c72c1
}
.res-b:before {
    content: "M";
    color: #b7c9eb
}
.res-r:before {
    content: "P";
    color: #aa3220
}
.res-r:before {
    content: "P";
    color: #ee9080
}
.res-g:before {
    content: "W";
    color: #247034
}
.res-g:before {
    content: "W";
    color: #45bc5c
}

