.debug-right-menu {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 99999;
    font-family: monospace;
    flex-direction: column;
    gap: 1px;
    background-color: darkgreen;
    padding: 1px;
    user-select: none;
}

.debug-right-menu.debug-only {
    display: flex;
}

.debug-right-menu details button {
    font-family: monospace;
}

.debug-right-menu details {
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px;
}

.debug-right-menu details div {
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px;
}

.debug-right-menu button {
    border: none;
}

.debug-right-menu details,
.debug-right-menu button {
    font-family: monospace;
    outline: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: black;
    color: white;
    text-align: left;
    align-items: left;
    justify-content: left;
    border-radius: 0;
    font-weight: normal;
    text-shadow: none;
}

.debug-right-menu details summary:hover,
.debug-right-menu button:hover{
    background-color: darkgray !important;
    cursor: pointer;
}

