/* *, *:before, *:after */
body,
#camera,
#scene {
    transform-style: preserve-3d;
    perspective: 4000px;
}
.deck,
.area,
.card {
    transform-style: preserve-3d;
}

#camera {
    overflow: visible;
}

/* Debug use */
/* .card.moving .face .image::after {
    background-color: green !important;
} */

.area .card.moving {
    transform:
        translate3d(
            var(--left),
            var(--top),
            50px
        );
}

.deck .card.moving:not(.shuffling) {
    transform:
        translate3d(
            var(--left),
            var(--top),
            101px
        );
}

.deck .card.moving.shuffling {
    transform:
        translate3d(
            var(--left),
            var(--top),
            calc((var(--rand) * 50px + 100px))
        )
}

#option-buttons {
    transform: translate3d(-50%, -50%, 2px);
}

.type-ally:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-encounter-villain:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-minion:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image,
.type-hero:has(.info .t_aerial):not(.flipping):not(.facedown) .face .image
{
    animation: none;
}

.card.type-ally:has(.info .t_aerial):not(.flipping):not(.moving):not(.facedown),
.card.type-encounter-villain:has(.info .t_aerial):not(.flipping):not(.moving):not(.facedown),
.card.type-minion:has(.info .t_aerial):not(.flipping):not(.moving):not(.facedown),
.card.type-hero:has(.info .t_aerial):not(.flipping):not(.moving):not(.facedown)
{
    animation: aerial-animation-3d calc(var(--anime-time) * 15) linear infinite;
}

@keyframes aerial-animation-3d {
    100%,0% {
        transform: translate3d(
            var(--left),
            var(--top),
            15px
        );
    }
    50% {
        transform: translate3d(
            var(--left),
            var(--top),
            1px
        );
    }
}

#player-all-hand-cards .card {
    --t-top: 85px;
    transform:
        translate3d(
            var(--left),
            var(--top),
            85px
        )
        rotateX( -12deg )
        /* rotateY( 0deg )
        rotateZ( 4deg ) */
}

#scene {
    transform-origin: center 65%;
    height: calc(1px * var(--scene-height) + 50px);
    top: -50px;
    position: absolute;
}

#player-all-engaged-minions {
    --y: 220;
}

#player-all-allies {
    --y: 430;
}

#player-all-supports {
    --y: 630;
}

#player-all-area-hero {
    --y: 830;
}

#player-all-hand-cards {
    --y: 1010;
}

#player-all-hand-cards:hover .card{
    --top: 940px !important;
}

/* #player-all-hand-cards:hover .card:hover{
    --t-top: 200px !important;
    --top: 900px !important;
} */

.progress {
    top: 990px;
    transform: translateZ(1px);
}

/* .card:hover .face .image {
    outline-style: dashed !important;
    outline-color: red !important;
} */

.card:hover .face .image .info_pay::after {
    outline-style: dashed !important;
    outline-color: red !important;
}

.area .card.activating {
    --z: 8;
}

.deck .card.activating {
    --z: 100;
}

