/******************************************************************************
* line
*/
.target-arrow-box {
    position: absolute;
    height: 4px;
    pointer-events: none;
    border-radius: 1rem;
    overflow: hidden;

    transition: var(--anime-move-time) linear width;
    z-index: var(--z-index-target-arrow);
}
.target-arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    --color: white;
    box-shadow: inset 0 0 5px var(--color);

    transform-origin: 0 0;

    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
    );
    background-size: 50px 50px;
}

.target_trait {
    --color: bisque;
}

.target_surge {
    --color: black
}

.target-arrow.target_activate,
.target-arrow.target_ability {
    --color: gold;
}

.target-arrow.target_reveal {
    --color: black;
}

.target-arrow.dealt_encounter_card {
    --color: orange;
}

.target-arrow.remove {
    opacity: 0;
    animation: none;
}

@keyframes arrow-move-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

