.cost-text {
    color: yellow;
}

.effect-text {
    color: orangered;
}

.reconnect {
    color: green;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.reconnecting {
    color: gray;
    cursor: default;
}

#prompt-text:has(.reconnect) {
    opacity: 1 !important;
    z-index: 9999;
    bottom: 50%;
    top: unset;
}

