/* #top-bar::after, */
#top-bar::before {
    content: "";

    height: 100%;
    width: calc(100% + 2rem);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#top-bar {
    left: 0;
    right: 0;
    top: -1rem;

    height: 1.75rem;
    min-width: fit-content;
    width: 8rem;

    position: absolute;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    align-content: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
}

#top-bar:hover {
    width: 16rem;
    top: 0;
    transition: var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1) width,
        var(--anime-time-card) cubic-bezier(0.19, 1, 0.22, 1) top;
}

#top-bar::before {
    transform: perspective(10px);
    transform: perspective(10px) rotateX(350deg);
    left: -1rem;
    right: -1rem;
    background: rgba(0, 0, 0, 1);
}

#time,
#turn-id {
    display: flex;
    font-size: 1rem;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    z-index: +1;

    color: black;
    display: flex;
    overflow: hidden;

    --text-shadow-color: yellow;

    text-shadow: 1px 1px var(--text-shadow-color),
        -1px -1px var(--text-shadow-color),
        1px -1px var(--text-shadow-color),
        -1px 1px var(--text-shadow-color);
}

#time {
    display: none;
    color: skyblue;
}

#top-bar:hover #time {
    display: flex;
}

