.card.activating .face::before,
.card.flipping .face::after,
.card.moving .face::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.card.activating .face::before {
    background-color: rgba(255, 255, 0, 0.5);
}

.card.flipping .face::after {
    background-color: rgba(0, 128, 0, 0.5);
}

.card.moving .face::after {
    background-color: rgba(255, 0, 0, 0.5);
}

.card.flipping.moving .face::after {
    background-color: rgba(0, 0, 255, 0.5);
}

