.debug-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1rem;
}

.debug-table th, .debug-table td {
    border: 1px solid green;
    padding: 1px;
    text-align: left;
}

.debug-table th {
    background-color: gray;
    cursor: pointer;
}

.debug-table th:hover {
    background-color: darkgray;
}

