#debug-window {
    position: absolute;
    left: 5px;
    top: 5px;
    max-width: 800px;
    max-height: 30rem;
    color: #87E911;
    /* font-weight: lighter; */
    /* -webkit-text-stroke: #87E911 1px; */
    font-size: 1rem;
    padding: 5px;
    overflow-y: hidden;
    background-color: hsla(0, 0%, 15%, 0.75);
}

#debug-window:has(div:hover) {
    overflow-y: scroll;
    z-index: calc(var(--z-index-debug-input) - 1);
}

#debug-window div {
    white-space: pre;
    max-width: 100%;
    /* min-width: 50%; */
    width: fit-content;
    overflow-x: hidden;
    border: 1px solid transparent;
}

#debug-window div[class^='debug-'],
#debug-window div[id^='debug-'] {
    margin-top: .5rem;
}

#debug-window div[class^='debug-']:hover,
#debug-window div[id^='debug-']:hover {
    background-color: hsla(0, 0%, 15%, 0.9);
    border-color: black;
}

#debug-window.hide-background {
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

#debug-effect {
    /* display: none; */
}

#debug-effect-paying {
    color: orange;
}

#debug-profile {
    color: #87E911
}

#debug-render {
    /* display: none; */
    /* color: darkgoldenrod; */
    /* padding-left: 350px; */
    z-index: calc(var(--z-index-debug-input) - 1);
}

#debug-window .category-title {
    color: rgb(87, 133, 151);
}

#debug-window .category {
    max-height: 30rem;
    overflow-y: hidden;
}

#debug-window .category:hover {
    max-height: 100%;
    overflow-y: hidden;
}

#copy-debug-message {
    position: absolute;
    left: 0px;
    top: 140px;
    width: auto;
    min-width: fit-content;
}

