.deck:has(.marked-card):not(:hover) .card .face .image::before,
.marked-card .face .image::before {
    /* filter: sepia(100%) hue-rotate(180deg) saturate(200%); */
    filter: sepia(100%) saturate(200%);
}

body.is-debug .deck:has(.debug-clicked) .card:last-child .face .image::before,
body.is-debug .debug-clicked .face .image::before
{
    animation-name: debug-clicked-animation-before;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

@keyframes debug-clicked-animation-before {
    0%, 100% {
        background-blend-mode: color-burn;
        background-color: red;
    }
    50% {
        background-blend-mode: color-burn;
        background-color: yellow;
    }
}

.deck:has(.marked-card):hover .card .face .equip::before {
    background: none;
}

body.is-debug .deck:has(.debug-clicked):not(:hover) .card .face .equip::before,
body.is-debug .debug-clicked .face .equip::before {
    filter: invert(1) sepia(50%) hue-rotate(340deg) saturate(2000%) drop-shadow(2px 4px 6px black);
}

body.is-debug .debug-clicked:hover .face .equip::before {
    opacity: .35;
}

